* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", san-sarif;
    outline-color: orangered;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    padding: 20px;
    background-image: url("../login/asset/Orange\ and\ yellow\ digital\ data\ and\ n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}



.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    
    background-color: transparent;
    backdrop-filter: blur(200px);
    
    opacity: 1.5;
    box-shadow: inset  -3px -3px 11px 0.5px rgb(14, 13, 13);
}

.container header {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.container .form {
    margin-top: 30px;
}

.form .inputbox {
    width: 100%;
    margin-top: 20px;
}

.inputbox label {
    color: white;
}

.form :where(.inputbox input, .select-box ) {
    position: relative;
    height: 50px; width: 100%;
    outline: none;
    color: #707070;
    font-size: 1rem;
    border-radius: 6px;
    padding: 0 15px;
    margin-top: 8px;
}

.form .inputbox input {
    box-shadow:inset  5px 5px 9px 1px rgb(161, 161, 161);
}

.form .column {
    display: flex;
    column-gap: 10px;
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
    cursor: pointer;
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.address :where(input, .select-box) {
    margin-top: 15px;
}

.select-box select {
    height: 100%; width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    background-color: crimson;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: /* 3px 6px 1px rgb(117, 1, 1),
                -3px -3px 9px 2px red, */
                inset  -6px -6px 9px 1px rgb(97, 1, 20);
    border: none;
    margin-top: 50px;
    transition: all 0.2s ease;
}

.form button:hover {
    scale: 1.01;
}


/*======================

responsive 

========================*/

@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}

